
/* ==========================================================================
   Benson custom styles
   ========================================================================== */
@viewport {
  width: device-width;
  zoom: 1;
}

html,body
{

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#bg{
width: 100%;

filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
}
#content{
    position: absolute;
    top: 0px;
    left: 120px;
    padding: 0px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 70px;
}


.social icons{
     position: absolute;
    left: 220px;
    top: 360px;
    color: white;

    font-size: 50px;
  font-family: AC Filmstrip;
}



#header-container{
    height: 685.5px;
    overflow: hidden;

}
.site-title {
position: absolute;
    left: 120px;
    top: 100px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}

.site-title-a {
position: absolute;
    left: 120px;
    top: 160px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;


}


.site-title-b {
position: absolute;
    left: 120px;
    top: 220px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}
.site-title-a-b
{
position: absolute;
    left: 320px;
    top: 160px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}

.site-title-a-c
{
position: absolute;
    left: 520px;
    top: 160px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}

.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation:  type 20s steps(200, end);
    animation: type 20s steps(200, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

	.sidecontentpullout {
			background-color: #640866;
			color: white;
			padding: 8px 6px;

           top: 100px;
            width: 40px

		}


		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}

		.sidecontent {
			background-color: white;
			color: black;
            width: 40px;

			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
              overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
		}

		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
            top: 50px;

		}



.site-slogan {
    position: absolute;
    left: 220px;
    top: 360px;
    color: white;

    font-size: 90px;
  font-family: Ladylike BB;
}





#slide-header{
font-size: small;
font-weight: 100;
text-transform: uppercase;
color: white;




}

.btn{
    width: 200px;

    background: purple;
    color: white;
    padding: 7% 7%;
    text-align: center;

padding: 12px 24px;
width: 170px;
margin: 4px 16px;
    text-transform: uppercase;
  font-family:Terminator Real NFI;
    font-size: xx-small;

}

.popup {
    position:absolute;

    width:300px;
    height:400px;
    right:310px;
    top:250px;
    z-index: 1;
    margin:-100px 0 0 -100px;
    display:none;
    background-color: transparent;
    -moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
     -moz-border-radius-bottomright: 1em;
			-webkit-border-bottom-right-radius: 1em;
			border-bottom-right-radius: 1em;
}
.cover {
    background-color:black;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
}
.text-popup{
    float: right;
    right: 20px;
    width: 100%;
    background-color: transparent;
    border: 2px #FFF solid;
    color: #6C066D;
}
.btn btn-danger.hover{
    background-color: aqua;
}
.body-about{

    width: 100%;
}
.span-right{
    background: url(../img/hd-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    float: right;
    width:50%;
}
.span-left{
   background: url(../img/waal-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    float: right;
    width:50%;
    color: black;

}
.stars-about{
    width: 25%;
    height: 19%;
    position: absolute;
    left: 5px;
    background-color: #1E1A3B;
    color: white;
    overflow: hidden;
    text-align: justify;
    font-family: queer;
    font-size:15px;
    letter-spacing: 0;
    overflow: hidden;


}
.text-right-stars{
    width: 24%;
    height: 20%;
        position: absolute;
    left: 340px;
   font-family: queer;
    font-size: 11px;
    text-align: justify;

}
.text-bottom-stars{
    position: absolute;
    height: 36%;
    left: 5px;

    width: 49.5%;

    top: 874px;
}

.odd {
   background-color: white;
    color: red;
}
.even  {
     background-color: red
}
.comicon{


    height: 20%;
      
    left: 700px;
   font-family:Arcade;

    text-align: justify;
  color: white;
    text-transform: uppercase;
}
.comicon-event{

    width: 200px;
    height: 20%;
  
   
   font-family: "comic sans ms";
    
    text-align: justify;
  color: white;
    text-transform: uppercase;
    text-align: center;

}
.comicon-event-description{

    width: 200px;
    height: 20%;
 
   font-family:comic sans ms;
     top: 800px;
    text-align: justify;
  color: white;
    text-transform: uppercase;

}

.comicon-event-book{

    width: 500px;
    height: 40px;
  margin-left: 50%;
   font-family:comic sans ms;
   padding-left: 50px;
   padding-right: 50px;
    text-align: center;
  color: white;
    text-transform: uppercase;
    border: 2px red solid;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    background: red;
    padding-bottom: 5px;

}
.comicon-event-book:hover{
    background-color: transparent;
    color: red;
     border: 2px red solid;

}


    

.popup-comicon {
    position:absolute;

    width:600px;
    height:200px;
    right:50px;
    top:890px;
    z-index: 1;
    margin:-100px 0 0 -100px;
    display:none;
    background: url(../img/banner-pop.png);
    background-size: cover;
    background-repeat: no-repeat;
    -moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
     -moz-border-radius-bottomright: 1em;
			-webkit-border-bottom-right-radius: 1em;
			border-bottom-right-radius: 1em;

}

.popup-comicon:focus {
   background: black;
}

.text-popup-comicon{
    float: right;
    right: 20px;
    width: 100%;
    background-color: transparent;
    border: 2px #FFF solid;
    color: red;
    font-size: 15px;
}
.events-list{
   
    height: 300px;
    width: 800px;
    background-color: red;
    
    
}

.app-loading .loading-bar
{
    display: block;
    -webkit-animation: shift-rightwards 1s ease-in-out infinite;
    -moz-animation: shift-rightwards 1s ease-in-out infinite;
    -ms-animation: shift-rightwards 1s ease-in-out infinite;
    -o-animation: shift-rightwards 1s ease-in-out infinite;
    animation: shift-rightwards 1s ease-in-out infinite;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}
.loading-bar
{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    z-index: 800;
    background: #60d778;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

@-webkit-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-moz-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@-o-keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }

}
@keyframes shift-rightwards
{
    0%
    {
        -webkit-transform:translateX(-100%);
        -moz-transform:translateX(-100%);
        -o-transform:translateX(-100%);
        transform:translateX(-100%);
    }

    40%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    60%
    {
        -webkit-transform:translateX(0%);
        -moz-transform:translateX(0%);
        -o-transform:translateX(0%);
        transform:translateX(0%);
    }

    100%
    {
        -webkit-transform:translateX(100%);
        -moz-transform:translateX(100%);
        -o-transform:translateX(100%);
        transform:translateX(100%);
    }
}
