

/* ==========================================================================
   Benson custom styles
   ========================================================================== */

#bg{
width: 100%;

filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
}
#content{
    position: absolute;
    top: 0px;
    left: 120px;
    padding: 0px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 70px;
}


.social icons{
     position: absolute;
    left: 220px;
    top: 360px;
    color: white;

    font-size: 50px;
  font-family: AC Filmstrip;
}



#header-container{
    height: 694.5px;
    overflow: hidden;

}
.site-title {
position: absolute;
    left: 120px;
    top: 100px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}

.site-title-a {
position: absolute;
    left: 120px;
    top: 160px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;


}


.site-title-b {
position: absolute;
    left: 120px;
    top: 220px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}
.site-title-a-b
{
position: absolute;
    left: 320px;
    top: 160px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}

.site-title-a-c
{
position: absolute;
    left: 520px;
    top: 160px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 60px;

}

.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation:  type 20s steps(200, end);
    animation: type 20s steps(200, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

	.sidecontentpullout {
			background-color: white;
			color: black;
			padding: 8px 6px;
position: fixed;
           top: 100px;
            width: 40px

		}


		.sidecontentpullout:hover {
			background-color: #444444;
			color: White;
		}

		.sidecontent {
			background-color: white;
			color: black;
            width: 40px;

			-moz-border-radius-bottomleft: 1em;
			-webkit-border-bottom-left-radius: 1em;
			border-bottom-left-radius: 1em;
              overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
		}

		.sidecontent > div > div {
			padding-left: 10px;
			padding-right: 40px;
            top: 50px;

		}



.site-slogan {
    position: absolute;
    left: 220px;
    top: 360px;
    color: white;

    font-size: 90px;
  font-family: Ladylike BB;
}


}


#slide-header{
font-size: small;
font-weight: 100;
text-transform: uppercase;
color: white;




}

.btn{
    width: 200px;

    background: purple;
    color: white;
    padding: 7% 7%;
    text-align: center;

padding: 12px 24px;
width: 170px;
margin: 4px 16px;
    text-transform: uppercase;
  font-family:Terminator Real NFI;
    font-size: xx-small;

}

.on-click-event{
    position: absolute;
	z-index: 1010;
	display: block;
	visibility: hidden;
	top:120px;
	left:3px;
	width: auto;
	min-width:150px;
	height: auto;
	padding:10px;
	background-color:#ccd8da;

}



.state > .btn:active + .on-click-event {
	visibility: visible;
	z-index:1010;
	-webkit-transition:0s;
	   -moz-transition:0s;
	     -o-transition:0s;
					transition:0s;
}
.on-click-event:hover {
	visibility: visible;
	z-index:1010;
	-webkit-transition:0s;
	   -moz-transition:0s;
	     -o-transition:0s;
					transition:0s;
}



